{% extends "::base.html.twig" %}

{% trans_default_domain "NitraCompareBundle" %}

{% use 'NitraCompareBundle:Compare:draggingProducts.html.twig'%}

{% block content_class 'compare_page' %}

{% block javascript_head %}
    {{ parent() }}
    {% block javascript_for_compare %}
        {% if compareDraggableList == 1 %}
            {{ parent() }}
        {% endif %}
    {% endblock javascript_for_compare %}
{% endblock javascript_head %}

{% block content %}
    {% block compare_title %}
        <h1>{{ 'compare.title'|trans }}</h1>
    {% endblock compare_title %}

    {% if categoriesProducts is empty %}
        <div class="no_products">
            {% block no_products %}
                {% block no_products_title %}
                    <div class="text">
                        {{- 'compare.noproducts'|trans -}}
                    </div>
                {% endblock no_products_title %}

                {% block back_link %}
                    <a class="back" onclick="history.go(-1);">
                        {{- 'compare.returnback'|trans -}}
                    </a>
                {% endblock back_link %}
            {% endblock no_products %}
        </div>
    {% else %}
        <div class="compare_box">
            {% block compare_content %}
                {% for keyZ, categoryProducts in categoriesProducts %}
                    {% block compare_category_products %}
                        <table class="basic compare_conteiner compare_conteiner_{{ keyZ }}{{ loop.first ? ' active' : ''}}">
                            {% block compare_products %}
                                <thead {{ compareFixedHead == 1 ? 'class="fixed_head"' }}>
                                    {% block compare_head %}
                                        <tr>
                                            <td class="filter_category">
                                                {% block compare_category_filter %}
                                                    {% block category_list %}
                                                        {% for key, categoryProducts in categoriesProducts %}
                                                            <div class="compare_category compare_category_{{ key }}{{ keyZ == key ? ' active' }}">
                                                                {% block compare_category_item %}
                                                                    <a class="category_item" onclick="compare.selectCategory('{{ key }}', '{{ compareCountVisibleProd }}');">
                                                                        {{- categoryProducts.categoryName -}}
                                                                        {% block compare_category_item_count -%}
                                                                            (<span id="items_count">
                                                                                {{- categoryProducts.products|length -}}
                                                                            </span>)
                                                                        {%- endblock compare_category_item_count -%}
                                                                    </a>
                                                                {% endblock compare_category_item %}
                                                                {% block compare_items_list %}
                                                                    <ul class="compare_items_list">
                                                                        {% for product in categoryProducts.products %}
                                                                            {% block compare_product_item %}
                                                                                <li class="
                                                                                    {{- loop.index <= compareCountVisibleProd ? 'visible ' }}
                                                                                    {%- block sorting_class -%}
                                                                                        {%- if compareDraggableList == 1 -%}
                                                                                            {{- parent() -}}
                                                                                        {%- endif -%}
                                                                                    {%- endblock sorting_class %} {{ product.obj.id }}"
                                                                                    data-relation-id="{{ product.obj.id }}"
                                                                                    {%- block sorting_js -%}
                                                                                        {%- if compareDraggableList == 1 -%}
                                                                                            {{- parent() -}}
                                                                                        {%- endif -%}
                                                                                    {%- endblock sorting_js %} title="{{ "compare.category.alt"|trans }}">
                                                                                    {% block compare_product_item_content %}
                                                                                        {{- product.obj.fullName -}}
                                                                                    {% endblock compare_product_item_content %}
                                                                                </li>
                                                                            {% endblock compare_product_item %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endblock compare_items_list %}
                                                            </div>
                                                        {% endfor %}
                                                    {% endblock category_list %}
                                                    {% block compare_filter %}
                                                        <div class="show_param">
                                                            {% block compare_filter_title %}
                                                                <span class="title">
                                                                    {{- "compare.view_characteristic.title"|trans -}}
                                                                </span>
                                                            {% endblock compare_filter_title %}
                                                            {% block compare_filter_link %}
                                                                {% block compare_filter_all %}
                                                                    <a class="filter_all_params active" onclick="compare.filter(true);">
                                                                        {{- "compare.view_characteristic.all"|trans -}}
                                                                    </a>
                                                                {% endblock compare_filter_all %}
                                                                {% block compare_filter_different %}
                                                                    <a class="filter_different_params" onclick="compare.filter(false);">
                                                                        {{- "compare.view_characteristic.only_diff"|trans -}}
                                                                    </a>
                                                                {% endblock compare_filter_different %}
                                                            {% endblock compare_filter_link %}
                                                        </div>
                                                    {% endblock compare_filter %}
                                                {% endblock compare_category_filter %}
                                            </td>
                                            <td class="prev">
                                                {% block button_left %}
                                                    <a class="move_left disable"
                                                       onclick="compare.moveLeft('{{ compare_list_scroll|default(1)}}', '{{ keyZ }}', '{{ compareCountVisibleProd }}');">
                                                        {{- 'compare.actions.prev'|trans -}}
                                                    </a>
                                                {% endblock button_left %}
                                            </td>
                                            {% for product in categoryProducts.products %}
                                                <td class="td_item {{ product.obj.id }}{{ loop.index > compareCountVisibleProd ? ' not_visible' }}{{ loop.first ? ' first_visible' }}">
                                                    {% block compare_product %}
                                                        <div class="item {{ product.obj.id }}" data-relation-id="{{ product.obj.id }}">
                                                            {% block compare_product_content %}
                                                                {% block compare_item_remove %}
                                                                    <span class="remove"
                                                                          onclick="compare.delCompare('{{ keyZ }}', '{{ product.obj.id }}', '{{ path('del_compare') }}', '{{ compareCountVisibleProd }}')"
                                                                          title="{{"compare.actions.delete" | trans }}"></span>
                                                                {% endblock compare_item_remove %}
                                                                {% block compare_item_name %}
                                                                    <a class="name" href="{{ path('product_page', { 'slug': product.obj }) }}">
                                                                        {{- product.obj.fullName -}}
                                                                    </a>
                                                                {% endblock compare_item_name %}
                                                                {% block compare_product_image %}
                                                                    <a href="{{ path('product_page', { 'slug': product.obj }) }}" class="images">
                                                                        {% if  product.obj.badge %}
                                                                            {% block badge %}
                                                                                <span class="badge {{  product.obj.badge.aliasEn }}">
                                                                                    <img src="{{ product.obj.badge.imageSmall|default('images/no_image.jpg')|imagine_filter('badge_small') }}"
                                                                                         alt="{{ product.obj.badge.aliasEn }}" />
                                                                                </span>
                                                                            {% endblock badge %}
                                                                        {% endif %}
                                                                        <img src="{{ product.obj.image|default('images/no_image.jpg')|imagine_filter('compare_thumb') }}" alt="{{ product.obj.name }}" />
                                                                    </a>
                                                                {% endblock compare_product_image %}

                                                                {# Блок с ценой #}
                                                                {% block product_price %}
                                                                    {{ include('NitraProductBundle:Modules:productPrice.html.twig', { 'item': product.obj }) }}
                                                                {% endblock product_price %}

                                                                {% block compare_product_button %}
                                                                    <a class="button_buy colorbox" href="{{ path('order_page', { 'productId': product.obj.id })}}">
                                                                        {{- "compare.actions.buy"|trans -}}
                                                                    </a>
                                                                {% endblock compare_product_button %}
                                                            {% endblock compare_product_content %}
                                                        </div>
                                                    {% endblock compare_product %}
                                                </td>
                                            {% endfor %}
                                            <td class="next">
                                                {% block button_right %}
                                                    <a class="move_right{{ (compareCountVisibleProd >= categoryProducts.products|length) ? ' disable' }}"
                                                       onclick="compare.moveRight('{{ compare_list_scroll|default(1) }}', '{{ keyZ }}', '{{ compareCountVisibleProd }}');">
                                                        {{- 'compare.actions.next'|trans -}}
                                                    </a>
                                                {% endblock button_right %}
                                            </td>
                                        </tr>
                                    {% endblock compare_head %}
                                </thead>
                            {% endblock compare_products %}

                            {% block compare_products_params %}
                                <tbody class="compare_params">
                                    {% block compare_products_params_head %}
                                        <tr class="params_head"><td colspan="{{ compareCountVisibleProd+3 }}">
                                            {% block compare_products_params_title %}
                                                <div class="title">{{ "compare.table_head"|trans }}</div>
                                            {% endblock compare_products_params_title %}
                                        </td></tr>
                                    {% endblock compare_products_params_head %}
                                    {% for group, parameters in categoryProducts.categoryParams %}
                                       {% if group is not empty %}
                                            {% block compare_products_params_group %}
                                                <tr><td class="group" colspan="{{ compareCountVisibleProd + 3 }}">{{ group }}</td></tr>
                                            {% endblock compare_products_params_group %}
                                       {% endif %}
                                       {% for categoryParamAlias, categoryParamName in parameters %}
                                           <tr class="compare_value params_row {{ loop.first ? 'first'}} {{ loop.index0 % 2 ? 'odd'}}">
                                               {% block compare_param_name %}
                                                   <td class="param_name" colspan="2">{{ categoryParamName }}</td>
                                               {% endblock compare_param_name %}
                                               {% for product in categoryProducts.products %}
                                                    {% block compare_product_param_value %}
                                                        <td class="compare compare_{{ loop.index <= compareCountVisibleProd ? 'visible' : ''}} value_{{ product.obj.id }}"{{ loop.index > compareCountVisibleProd ? ' style="display: none;"'}}>
                                                            {% block compare_product_param_value_content %}
                                                                <div class="param_value">
                                                                    {{- product.parameters[categoryParamAlias] is defined ? product.parameters[categoryParamAlias] : '-' -}}
                                                                </div>
                                                            {% endblock compare_product_param_value_content %}
                                                        </td>
                                                    {% endblock compare_product_param_value %}
                                               {% endfor %}
                                               {% block compare_empty_td %}<td></td>{% endblock compare_empty_td %}
                                           </tr>
                                       {% endfor %}
                                    {% endfor %}
                                </tbody>
                            {% endblock compare_products_params %}
                        </table>
                    {% endblock compare_category_products %}
                {% endfor %}
            {% endblock compare_content %}
        </div>
    {% endif %}
{% endblock content %}