{% trans_default_domain "NitraCompareBundle" %}
{% block compare_resume %}
    {% set count = app.session.get('compare')|length %}
    {% block compare_rezume_products %}
        <a id="compare_items_button" class="compare_items_button {{ count ? 'active' }}"
           {% if use_compare_preview|default(false) %}{% block compare_preview_action %} onclick="$('#compare_preview').toggleClass('open');"{% endblock compare_preview_action %}
           {% else %} href="{{ path('compare_page') }}"{% endif %}
        >
            {% block compare_rezume_products_content %}
                {{ "compare.waiting_products"|trans }}
                    {% block compare_rezume_count %}
                        <span id="compare_count">{{ count }}</span>
                    {% endblock compare_rezume_count %}
            {% endblock compare_rezume_products_content %}
        </a>
    {% endblock compare_rezume_products %}
    {% if use_compare_preview|default(false) %}
        {% block compare_preview_block %}
            <div class="compare_preview_conteiner">
                <div class="compare_preview" id="compare_preview">
                    {% block compare_preview_block_content %}
                        {% block compare_preview_close %}
                            <div class="compare_preview_close" {% block compare_preview_close_action %}onclick="$('#compare_preview').removeClass('open');"{% endblock compare_preview_close_action %}></div>
                        {% endblock compare_preview_close %}
                        {% block compare_loader %}
                            <div class="loader" id="compare_block_loader" style="display: none;">
                                {% image '@NitraStoreBundle/Resources/public/images/compare_loading.gif' %}
                                    <img alt="loading" src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                        {% endblock compare_loader %}
                        {% block compare_preview_content %}
                            {{ render_esi(controller("NitraCompareBundle:Compare:comparePreviewProducts")) }}
                        {% endblock compare_preview_content %}
                    {% endblock compare_preview_block_content %}
                </div>
            </div>
        {% endblock compare_preview_block %}
    {% endif %}
{% endblock compare_resume %}