{% trans_default_domain "NitraCompareBundle" %}

{% block compare_actions %}
{% spaceless %}
    {% set compareText  = (productId in app.session.get('compare')|keys) ? 'compare.actions.delete' : 'compare.actions.add' %}
    {% set compareClass = (productId in app.session.get('compare')|keys) ? 'delete' : 'add' %}
    {% set inCompare    = (productId in app.session.get('compare')|keys) %}
    {% block compare_action_button %}
        <a class="button_compare compare_button_{{ productId }} {{ compareClass }}"
            onclick="compare.addDelCompare('{{ productId }}', '{{ path('add_del_compare') }}');
                {%- if useComparePreview -%}
                    updateComparePreview();
                {%- endif -%}
            ">
            <span class="text">
                {{- compareText|trans -}}
            </span>
        </a>
    {% endblock compare_action_button %}
    {% block compare_link %}
        <a class="button_compare compare_button_link_{{ productId }}"
            {{- inCompare ? ' ' : ' style="display: none; "' -}}
            href="{{ path('compare_page') }}">
            <span class="text">
                {{- 'compare.actions.compare'|trans -}}
            </span>
        </a>
    {% endblock compare_link %}
{% endspaceless %}
{% endblock compare_actions %}