{% trans_default_domain "NitraCompareBundle" %}

{% block compare_preview_products %}
    {% set count = app.session.get('compare')|length %}
    <div id="compare_preview_content" class="compare_preview_content">
        {% if count > 0 %}
            {% block compare_preview_info %}
                <div class="preview_info">
                    {% block compare_preview_info_content %}
                        {% block compare_preview_count %}
                            {% block compare_preview_count_text %}
                                <span class="text">
                                    {{- "compare.preview.waiting_products"|trans -}}
                                </span>
                            {% endblock compare_preview_count_text %}
                            {% block compare_preview_count_value %}
                                <span class="count" id="compare_count">
                                    {{- count|declension('товар', 'товара', 'товаров') -}}
                                </span>
                            {% endblock compare_preview_count_value %}
                        {% endblock compare_preview_count %}
                        {% block compare_preview_count_link %}
                            <a  href="{{ path('compare_page') }}">
                                {{- "compare.preview.link"|trans -}}
                            </a>
                        {% endblock compare_preview_count_link %}
                    {% endblock compare_preview_info_content %}
                </div>
            {% endblock compare_preview_info %}
            {% block compare_preview_list %}
                <div class="preview_list_block{{ products|length > comparePreviewCountProd ? ' with_links' }}">
                    <ul id="preview_list">
                        {% block compare_preview_list_products %}
                            {% for product in products %}
                                {% block compare_preview_product %}
                                    <li class="item">
                                        {% block compare_preview_product_content %}
                                            <a class="info" href="{{ path('product_page', { 'slug': product }) }}">
                                                {% block compare_preview_product_info %}
                                                    {% block compare_preview_product_image %}
                                                        <img class="image" src="{{ product.image|default('images/no_image.jpg')|imagine_filter('compare_preview_thumb') }}" alt="{{ product.fullName }}" />
                                                    {% endblock compare_preview_product_image %}
                                                    {% block compare_preview_product_remove %}
                                                        <span id="remove" class="remove" data-id="{{ product.id }}">
                                                            {{- "compare.preview.remove"|trans -}}
                                                        </span>
                                                    {% endblock compare_preview_product_remove %}
                                                {% endblock compare_preview_product_info %}
                                             </a>
                                         {% endblock compare_preview_product_content %}
                                     </li>
                                {% endblock compare_preview_product %}
                            {% endfor %}
                        {% endblock compare_preview_list_products %}
                    </ul>
                </div>
            {% endblock compare_preview_list %}
        {% else %}
            {% block compare_preview_empty_block %}
                <div class="empty">
                    {{- 'compare.noproducts'|trans -}}
                </div>
            {% endblock compare_preview_empty_block %}
        {% endif %}
    </div>

    {% block compare_preview_script %}
        <script type="text/javascript">
            $(document).ready(function() {
                var addDelCompPath = "{{ path('add_del_compare') }}",
                    delCompPath = "{{ path('del_compare')}}";

                RemoveIt(addDelCompPath, delCompPath);

                {% block compare_preview_carousel_script %}
                    {% if comparePreviewCountProd and products|length > comparePreviewCountProd %}
                        {% block carousel_script %}
                            var $item    = $('#preview_list .item');
                            var elWidth  = $item.outerWidth();
                            var elMargin = $item.css("marginRight");
                            $("#preview_list").bxSlider({
                                pager:            false,
                                infiniteLoop:     false,
                                hideControlOnEnd: true,
                                nextText:         "{{ 'compare.preview.carousel.link_next'|trans }}",
                                prevText:         "{{ 'compare.preview.carousel.link_prev'|trans }}",
                                {% block carousel_options %}
                                    mode:           'horizontal',
                                    slideWidth:     elWidth,
                                    slideMargin:    elMargin,
                                    maxSlides:      {{ comparePreviewCountProd }}
                                {% endblock carousel_options %}
                           });
                        {% endblock carousel_script %}
                    {% endif %}
                {% endblock compare_preview_carousel_script %}
            });

            {% block compare_preview_update_script %}
                function updateComparePreview() {
                    $("#compare_preview .loader").show();
                    $.ajax({
                        type:    'POST',
                        url:     '{{ path('compare_preview')}}',
                        success: function(data){
                            $("#compare_preview_content").replaceWith(data);
                            $("#compare_preview .loader").hide();
                        }
                    });
                }
            {% endblock compare_preview_update_script %}
        </script>
    {% endblock compare_preview_script %}
{% endblock compare_preview_products %}