{% block javascript_for_compare %}
    {% javascripts '@NitraCompareBundle/Resources/public/js/jquery.tablednd.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript_for_compare %}

{% block sorting_class %}ui-state-default{% endblock sorting_class %}
{% block sorting_js %}onmousedown="compare.sort('{{ key }}', '{{compareCountVisibleProd}}');"{% endblock sorting_js %}
   