.absolute_r        (@top: 0px, @right: 0px) { position: absolute; top: @top; right: @right; }
/******************************** Compare *******************************/
/*Compare button*/
.compare_button                { display: block; }
.compare_items_button          { .absolute_r(20px,0); 
    span                       { display: inline-block; margin-left: 6px; padding: 4px 0; width: 26px; font-size: 1.5em; text-align: center; vertical-align: middle; }
}
.compare_info                  { float: left; margin: 25px 15px 0 0; width: 20%; 
    .active                    { 
        a                      { font-weight: 1.2em; text-decoration: none; }
        .visible               { color: #222; }
    }
}
.compare_items_list            { margin: 15px 0 15px 20px; 
    li                         { padding: 4px 0; color: #888;
        &:hover                { cursor: pointer; }
        &.ui-sortable-helper   { color: #222; }
    }
}

div.fixed_head_container       { position: fixed; top: 0; z-index: 150; background-color: white; }
.compare_conteiner             { display: none;
    &.active                   { display: block; }  
      th.not_visible           { display: none; }
      td.filter_category       { width: 228px; }
            .item              { position: relative; margin: 0px 15px 10px; width: 330px;
                .name          { display: block; margin-bottom: 8px; }
                .remove        { .absolute_r(0,0); display: inline-block; width: 14px; height: 14px; cursor: pointer; background: url(../images/compare_sprite.png) no-repeat 90% -47px; }
                .price_box     { margin: 10px 15px; }
                .button_buy    { .absolute_r(0px, 10px); }
            }    
    .compare_params            { overflow: hidden; padding: 10px 6px; 
         h3                    { padding: 0 10px; font-size: 1.3em; line-height: 1.4em;  }
            td                 { padding: 6px; min-width: 230px; color: #555; }
            td.param_name      { font-weight: bold; text-align: left;}
            td.compare_        { display: none;}
            td.compare_visible { display: table-cell; }
    }
}

.show_param                    { 
    a                          { display: block; padding: 6px 0 2px 20px; background: url(../images/compare_sprite.png) 0 -61px no-repeat;
        &.active               { background-position: 0 -84px; }
        &:hover                { background-position: 0 -84px; }
    }
}
